html, body, #map {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	position: absolute;
	color: #333;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.mapboxgl-ctrl-group {
	border-radius: 10px;
}
.mapboxgl-ctrl-group button {
	width: 39px;
	height: 39px;
}
.mapboxgl-ctrl-group button:focus:first-child,
.mapboxgl-ctrl-group button:hover:first-child {
	border-radius: 10px 10px 0 0;
}
.mapboxgl-ctrl-group button:focus:last-child,
.mapboxgl-ctrl-group button:hover:last-child {
	border-radius: 0 0 10px 10px;
}
.mapboxgl-ctrl-group button:focus:only-child,
.mapboxgl-ctrl-group button:hover:only-child {
	border-radius: inherit;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-list .mapboxgl-ctrl-icon {
	background: no-repeat center/21px url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23333'%3E%3Cpath d='M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z'/%3E%3C/svg%3E");
}
.mapboxgl-ctrl button.mapboxgl-ctrl-twitter .mapboxgl-ctrl-icon {
	background: no-repeat center/21px url("data:image/svg+xml,%3Csvg width='1200pt' height='1200pt' version='1.1' viewBox='0 0 1200 1200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient id='linearGradient896' x1='894.9' x2='894.9' y1='1496' y2='833.1' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23373f51' offset='0'/%3E%3Cstop stop-color='%23545e75' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='linearGradient912' x1='953.2' x2='953.2' y1='298.5' y2='738.6' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23d34e24' offset='0'/%3E%3Cstop stop-color='%23f28123' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(-300,-300)'%3E%3Cpath d='m1419 844.3h-430.7l-84.29 210 94.92 13.59-128.8 268-53.88-1.656 66.98-191.4-107.9-15.48 66.91-283-460.8-4e-3v655.8h1038z' fill='url(%23linearGradient896)' fill-rule='evenodd'/%3E%3Cpath d='m900 300c-167.5 6e-3 -335.1 47.46-481.1 142.3l36.94 56.83c269.3-175 619-175 888.3 0l36.91-56.83c-146-94.91-313.5-142.4-481.1-142.3zm0.0308 160c-126.3 0-252.7 33.19-365.1 99.58l34.49 58.42c203.5-120.1 457.8-120.1 661.2 0l34.51-58.42c-112.4-66.38-238.8-99.58-365.1-99.58zm-8e-3 160.1c-84.64 0-169.3 19.31-246.8 57.92l30.29 60.82c135.9-67.7 297.2-67.68 433.1 0l30.26-60.82c-77.54-38.62-162.2-57.92-246.8-57.92z' fill='url(%23linearGradient912)'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.mapboxgl-ctrl button.mapboxgl-ctrl-info .mapboxgl-ctrl-icon {
	background: no-repeat center/21px url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23333'%3E%3Cpath d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z'%3E%3C/path%3E%3C/svg%3E");
}
.bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);;
	display: none;
	z-index: 99;
}
.menu {
	top: 10px;
	right: 60px;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.menu>div {
	font-size: 14px;
	line-height: 39px;
}
.menu>div:first-child {
	height: 39px;
	border-radius: 10px 10px 0 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-weight: bold;
	pointer-events: none;
}
.menu>div:last-child {
	max-height: calc(100% - 59px);
	border-radius: 0 0 10px 10px;
}
.menu-item {
	padding: 6px 10px;
	background-color: transparent;
	cursor: pointer;
	border-top: 1px solid #ddd;
	white-space: nowrap;
}
.menu-item:hover {
	background-color: rgba(0, 0, 0, .05);
}
.menu-item>div {
	display: inline-block;
	vertical-align: top;
	height: 40px;
}
.menu-item .menu-check {
	width: 19px;
	margin-right: 10px;
}
.menu-item.active .menu-check {
	background: no-repeat center/19px url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23333'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
.menu-item .menu-text {
	line-height: 20px;
}
#list {
	height: calc(100% - 20px);
}
#list>div:last-child {
	max-height: calc(100% - 39px);
	overflow-y: scroll;
}
.info {
	position: absolute;
	top: 10px;
	right: 60px;
	width: 250px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.info div:first-child {
	height: 39px;
	border-radius: 10px 10px 0 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 39px;
	pointer-events: none;
}
.info div:last-child {
	padding: 0 10px;
	border-radius: 0 0 10px 10px;
	font-size: 14px;
	line-height: 22px;
}
.svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.wave {
	stroke: rgba(255, 255, 255, 0.3);
	fill: rgba(255, 255, 255, 0.15);
}
.wave-bright {
	stroke: rgba(255, 255, 255, 0.4);
	fill: rgba(255, 255, 255, 0.2);
}
.hypocenter {
	stroke: none;
}
.leader {
	stroke: #fff;
}
.epicenter {
	stroke: none;
	fill: #fff;
}
.tooltip {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	padding: 4px;
	pointer-events: none;
}
.tooltip.hidden {
	display: none;
}
.legend-depth {
	position: absolute;
	left: 110px;
	bottom: 10px;
	width: 200px;
	height: 17px;
	background: no-repeat center/200px url("data:image/svg+xml,%3Csvg width='200' height='17' fill-rule='evenodd' version='1.1' viewBox='0 0 200 17' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='text-left' d='m5.834 3c-1.238 0-2.205 0.4998-2.898 1.498-0.6239 0.9084-0.9355 2.373-0.9355 4.395 0 1.447 0.1591 2.562 0.4785 3.346 0.3194 0.7836 0.7622 1.368 1.326 1.752 0.564 0.3843 1.259 0.5781 2.088 0.5781 0.8286 0 1.515-0.191 2.059-0.5703 0.5441-0.3843 0.9774-0.9833 1.297-1.797 0.3244-0.8136 0.4863-1.952 0.4863-3.414 0-1.447-0.161-2.574-0.4805-3.383-0.3145-0.8136-0.7637-1.418-1.348-1.812-0.579-0.3943-1.269-0.5918-2.072-0.5918zm5.383 0v11.29h2.043v-3.752l3.459 3.752h2.539l-3.932-4.238 3.504-3.908h-2.561l-3.01 3.361v-6.506h-2.043zm-5.332 1.992c0.5191 0 0.9412 0.2732 1.266 0.8223 0.3294 0.549 0.4941 1.549 0.4941 2.996 0 1.428-0.1825 2.446-0.5469 3.055-0.2995 0.5041-0.7038 0.7559-1.213 0.7559-0.5291 0-0.9605-0.2639-1.295-0.793-0.3294-0.5341-0.4941-1.498-0.4941-2.891 0-1.068 0.07205-1.88 0.2168-2.434 0.1447-0.554 0.3544-0.9434 0.6289-1.168 0.2745-0.2296 0.589-0.3438 0.9434-0.3438zm18.81 0.9434c-0.5041 0-0.9711 0.09353-1.4 0.2832-0.4243 0.1897-0.8108 0.477-1.16 0.8613v-0.9355h-2.053v8.146h2.053v-3.625c1e-6 -0.7836 0.06641-1.356 0.2012-1.721 0.1398-0.3644 0.3466-0.6461 0.6211-0.8457 0.2795-0.2046 0.5903-0.3086 0.9297-0.3086 0.3045 0 0.5627 0.08051 0.7773 0.2402s0.3757 0.4049 0.4805 0.7344c0.1098 0.3244 0.1641 0.8513 0.1641 1.58v3.945h2.059v-3.676c0-0.7786 0.06836-1.344 0.2031-1.693 0.1348-0.3544 0.3388-0.6304 0.6133-0.8301 0.2795-0.1997 0.594-0.3008 0.9434-0.3008 0.4592 0 0.8036 0.1647 1.033 0.4941 0.2296 0.3244 0.3438 0.9497 0.3438 1.873v4.133h2.061v-4.777c0-0.9783-0.09831-1.685-0.293-2.119-0.1897-0.4342-0.5041-0.7852-0.9434-1.055-0.4392-0.2695-0.9484-0.4043-1.527-0.4043-0.559 0-1.075 0.1235-1.549 0.373-0.4692 0.2496-0.867 0.6146-1.191 1.094-0.2496-0.4792-0.579-0.8442-0.9883-1.094-0.4093-0.2496-0.8678-0.373-1.377-0.373z'/%3E%3Cpath id='text-right' d='m162.7 3c-1.238 0-2.203 0.4998-2.896 1.498-0.6239 0.9084-0.9375 2.373-0.9375 4.395 0 1.447 0.161 2.562 0.4805 3.346 0.3194 0.7836 0.7602 1.368 1.324 1.752 0.564 0.3843 1.261 0.5781 2.09 0.5781 0.8286 0 1.515-0.191 2.059-0.5703 0.544-0.3843 0.9755-0.9833 1.295-1.797 0.3244-0.8136 0.4863-1.952 0.4863-3.414 0-1.447-0.1591-2.574-0.4785-3.383-0.3144-0.8136-0.7637-1.418-1.348-1.812-0.579-0.3943-1.271-0.5918-2.074-0.5918zm8.596 0c-1.238 0-2.205 0.4998-2.898 1.498-0.6239 0.9084-0.9356 2.373-0.9356 4.395 0 1.447 0.1591 2.562 0.4785 3.346 0.3194 0.7836 0.7622 1.368 1.326 1.752 0.564 0.3843 1.259 0.5781 2.088 0.5781 0.8286 0 1.516-0.191 2.061-0.5703 0.544-0.3843 0.9755-0.9833 1.295-1.797 0.3244-0.8136 0.4863-1.952 0.4863-3.414 0-1.447-0.1591-2.574-0.4785-3.383-0.3144-0.8136-0.7637-1.418-1.348-1.812-0.579-0.3943-1.271-0.5918-2.074-0.5918zm5.383 0v11.29h2.043v-3.752l3.459 3.752h2.539l-3.932-4.238 3.504-3.908h-2.561l-3.01 3.361v-6.506h-2.043zm-24.27 0.2773-1.332 6.117 1.707 0.3809c0.2146-0.2296 0.4308-0.4008 0.6504-0.5156 0.2246-0.1148 0.452-0.1719 0.6816-0.1719 0.4292 0 0.7943 0.1647 1.094 0.4941 0.3045 0.3244 0.457 0.7409 0.457 1.25 1e-5 0.5241-0.1619 0.9527-0.4863 1.287s-0.7194 0.502-1.184 0.502c-0.3344 0-0.6424-0.08702-0.9219-0.2617-0.2745-0.1797-0.4963-0.4427-0.666-0.7871h-2.201c0.2096 0.9284 0.6524 1.659 1.326 2.193 0.6738 0.5341 1.48 0.8027 2.418 0.8027 1.048 0 1.937-0.3678 2.666-1.102 0.7337-0.7387 1.1-1.644 1.1-2.717 0-1.063-0.3322-1.934-0.9961-2.613-0.6588-0.6838-1.486-1.025-2.484-1.025-0.1098 0-0.2259 0.009332-0.3457 0.0293-0.1198 0.01497-0.2424 0.03928-0.3672 0.07422l0.4492-2.006h3.594v-1.932h-5.158zm10.35 1.715c0.5191 0 0.9412 0.2732 1.266 0.8223 0.3294 0.549 0.4941 1.549 0.4941 2.996 0 1.428-0.1825 2.446-0.5469 3.055-0.2995 0.5041-0.7038 0.7559-1.213 0.7559-0.5291 0-0.9605-0.2639-1.295-0.793-0.3294-0.5341-0.4941-1.498-0.4941-2.891 0-1.068 0.07205-1.88 0.2168-2.434 0.1448-0.554 0.3544-0.9434 0.6289-1.168 0.2745-0.2296 0.589-0.3438 0.9434-0.3438zm8.596 0c0.5191 0 0.9392 0.2732 1.264 0.8223 0.3294 0.549 0.4941 1.549 0.4941 2.996 0 1.428-0.1806 2.446-0.5449 3.055-0.2995 0.5041-0.7038 0.7559-1.213 0.7559-0.5291 0-0.9624-0.2639-1.297-0.793-0.3294-0.5341-0.4941-1.498-0.4941-2.891 0-1.068 0.074-1.88 0.2188-2.434 0.1447-0.554 0.3544-0.9434 0.6289-1.168 0.2745-0.2296 0.589-0.3438 0.9434-0.3438zm18.81 0.9434c-0.5041 0-0.9711 0.09353-1.4 0.2832-0.4243 0.1897-0.8108 0.477-1.16 0.8613v-0.9355h-2.051v8.146h2.051v-3.625c0-0.7836 0.0664-1.356 0.2012-1.721 0.1398-0.3644 0.3485-0.6461 0.623-0.8457 0.2795-0.2046 0.5883-0.3086 0.9277-0.3086 0.3045 0 0.5647 0.08051 0.7793 0.2402 0.2146 0.1597 0.3737 0.4049 0.4785 0.7344 0.1098 0.3244 0.1641 0.8513 0.1641 1.58v3.945h2.059v-3.676c0-0.7786 0.06836-1.344 0.2031-1.693 0.1348-0.3544 0.3388-0.6304 0.6133-0.8301 0.2795-0.1997 0.594-0.3008 0.9434-0.3008 0.4592 0 0.8036 0.1647 1.033 0.4941 0.2296 0.3244 0.3457 0.9497 0.3457 1.873v4.133h2.059v-4.777c0-0.9783-0.09831-1.685-0.293-2.119-0.1897-0.4342-0.5041-0.7852-0.9434-1.055-0.4392-0.2695-0.9484-0.4043-1.527-0.4043-0.559 0-1.075 0.1235-1.549 0.373-0.4692 0.2496-0.867 0.6146-1.191 1.094-0.2496-0.4792-0.579-0.8442-0.9883-1.094-0.4093-0.2496-0.8678-0.373-1.377-0.373z'/%3E%3Cpath id='bar' d='m41 2h100v13h-100z'/%3E%3ClinearGradient id='linearGradient891' x1='41' x2='141' y1='8.5' y2='8.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239e0142' offset='0'/%3E%3Cstop stop-color='%23d53e4f' offset='.1'/%3E%3Cstop stop-color='%23f46d43' offset='.2'/%3E%3Cstop stop-color='%23fdae61' offset='.3'/%3E%3Cstop stop-color='%23fee08b' offset='.4'/%3E%3Cstop stop-color='%23ffffbf' offset='.5'/%3E%3Cstop stop-color='%23e6f598' offset='.6'/%3E%3Cstop stop-color='%23abdda4' offset='.7'/%3E%3Cstop stop-color='%2366c2a5' offset='.8'/%3E%3Cstop stop-color='%233288bd' offset='.9'/%3E%3Cstop stop-color='%235e4fa2' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cmask id='clip'%3E%3Crect width='100%25' height='100%25' fill='%23fff'/%3E%3Cuse xlink:href='%23text-left'/%3E%3Cuse xlink:href='%23text-right'/%3E%3Cuse xlink:href='%23bar'/%3E%3C/mask%3E%3Cg id='outline' opacity='.3' stroke='%23000' stroke-linejoin='round' stroke-width='3'%3E%3Cuse mask='url(%23clip)' xlink:href='%23text-left'/%3E%3Cuse mask='url(%23clip)' xlink:href='%23text-right'/%3E%3Cuse mask='url(%23clip)' xlink:href='%23bar'/%3E%3C/g%3E%3Cg id='fill' fill='%23fff' opacity='.9'%3E%3Cuse xlink:href='%23text-left'/%3E%3Cuse xlink:href='%23text-right'/%3E%3C/g%3E%3Cuse fill='url(%23linearGradient891)' xlink:href='%23bar'/%3E%3C/svg%3E%0A");
	pointer-events: none;
}
.panel {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 59px);
	height: 196px;
	max-height: calc(100% - 47px);
	overflow: hidden;
	transition-property: left, top, width, height;
	transition-duration: 1s;
}
.panel.hidden {
	height: 0;
}
.panel.static {
	transition: none;
}
.panel-body {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.panel-column {
	width: calc(50% - 15px);
	margin: 10px 0 10px 10px;
}
.panel-column:last-child {
	margin: 10px;
}
.panel-section {
	margin-bottom: 10px;
}
.panel-section:last-child {
	margin-bottom: 0;
}
.panel-section-title {
	color: #ccc;
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
}
.panel-section-body {
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	white-space: nowrap;
}
.panel-date-text {
	font-size: 14px;
	line-height: 24px;
	white-space: nowrap;
}
.panel-time-text {
	white-space: nowrap;
}
.panel-location-text {
	font-size: 18px;
	line-height: 30px;
	white-space: nowrap;
}
.close-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 33px;
	height: 33px;
	background: no-repeat 10px center/21px url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z'%3E%3C/path%3E%3C/svg%3E");
	cursor: pointer;
	transition-property: top, right;
	transition-duration: 1s;
}

@media screen and (min-width: 640px) {
	.panel {
		left: 10px;
		top: 10px;
		width: 300px;
		height: calc(100% - 47px);
	}
	.panel-column {
		width: calc(100% - 40px);
		margin: 20px 20px 0 20px;
	}
	.panel-column:last-child {
		margin: 20px;
	}
	.panel-section {
		margin-bottom: 20px;
	}
	.panel-section-title {
		margin-bottom: 10px;
		font-size: 20px;
		line-height: 24px;
	}
	.panel-section-body {
		font-size: 48px;
		line-height: 48px;
	}
	.panel-date-text {
		font-size: 20px;
		line-height: 30px;
	}
	.panel-location-text {
		font-size: 32px;
		line-height: 48px;
	}
	.close-button {
		top: 10px;
		right: 10px;
	}
}
